@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "bellota text";
}

body {
    background-color: #3f4f78;
}

h2 {
    text-align: center;
}

#mechanics {
    padding: 5px;
    border: black 1px solid;
    display: flex;
    justify-content: space-around;
}

#story-container {
    background-color: white;
    padding: 1em;
    margin: 1em;
}

#button-container {
    display: flex;
    justify-content: space-around;
}

button {
    border: solid 1px black;
    padding: 5px;
    background-color: transparent;
}

button:hover {
    background-color: #cca677;
    border-radius: 2.5px;
    transition: 0.2s;
    color: rgb(255, 255, 255);
}
