@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
    font-family: "bellota text";
}

#mechanics {
    padding: 5px;
    border: black 1px solid;
    display: flex;
    justify-content: space-around;
}

#story-container {
    background-color: white;
    padding: 1em;
    margin: 1em;
}

button {
    border: none;
    padding: 5px;
}

button:hover {
    background-color: black;
    color: white;
}
