@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "bellota text";
}

body {
    background-color: #E5DDC8;
}

h2, #mechanics, #story-container {
    background-color: #ADB78E;
    border: rgba(0, 0, 0, 0.412) 3px solid;
}

h2 {
    text-align: center;
    font-family: 'dancing script';
    font-size: 2em;
    padding: 1%;
    margin: 1% 1% 0 1%;
}

#container1 {
    display: flex;
    flex-direction: row;
    justify-items: stretch;
    padding: 1%;
    gap: 1%;
}

#container2 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#img-container {
    text-align: center;
    border: rgb(102 108 84) 3px solid;
}

#mechanics {
    padding: 5px;
    display: flex;
    justify-content: space-around;
    font-size: 150%;
    border-bottom: none;
}

#story-container {
    font-size: 150%;
    height: 100%;
    padding: 1em;
}

/*choice buttons*/
#button-container {
    display: flex;
    justify-content: space-around;
    margin-top: 1em;
    background-color: #ADB78E;
}

.choice {
    border: solid 3px rgba(0, 0, 0, 0.412);
    padding: 5px;
    background: transparent;
    font-size: 100%;
}

.choice:hover {
    background: linear-gradient(-45deg, #C8F4F9, #3CACAE);
    background-size: 200%;
    border: solid 3px #266a6a;
    color: #163e3e;
    cursor: pointer;
}

/*collapsible summary*/
.summary {
    background-color: #ADB78E;
    color: black;
    margin-left: 1%;
    padding: 0.5%;
    width: 98%;
    font-size: 150%;
    border: solid 3px rgba(0, 0, 0, 0.412);
    display: flex;
    justify-content: space-between;
    justify-items: flex-start;
}

.summary:hover {
    background: linear-gradient(-90deg, #C8F4F9, #3CACAE);
    background-size: 200%;
    border: solid 3px #266a6a;
    color: #163e3e;
    cursor: pointer;
}

.summary-text {
    background-color: black;
    color: white;
    border: solid 3px rgba(0, 0, 0, 0.412);
    margin: 0 1% 0 1%;
    padding: 1em;
    display: none;
    overflow: hidden;
}

/*mobile*/
@media only screen and (max-width: 640px) {

    #button-container {
        width: 100%;
        flex-direction: column;
    }

    img {
        width: 100%;
    }

    #container1 {
        flex-direction: column;
    }

    #story-container, #mechanics, .choice, .summary {
        font-size: 100%;
    }
}